extends layout

block content
  h1= title
  p Welcome to #{title}

  input#userInput(type="number")  <=== HERE

  div    
    button#calculateFeetFromMiles Calculate Feet from Miles  
    button#calculateCircumference Circumference from Radius

  div
    pre#displayArea